*{
    margin: 0;
    padding: 0;
}
.cursor_pointer{
    cursor: pointer;
}
.w-100{
    width: 100% !important;
}
.p-100{
    padding:100px;
}
.px-20{
    padding: 0 20px !important;
}
.color-red{
    color: red !important;
}
.text-center{
    text-align: center;
}
.d-flex{
    display: flex !important;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.justify-start{
    justify-content: start;
}
.justify-end{
    justify-content: end;
}
.align-center{
    align-items: center;
}
.contextMenuMainContainer{
    position: absolute;
  
   background-color: white;
   z-index: 1;
   border: 1px solid;
   border-radius: 20px;
   padding: 20px;
   div{
    padding:2px 2px;
    cursor: pointer;
    font-weight: 600;
    &:hover{
        background-color: rgb(199, 188, 188);
        
    }
   }
}